/* @font-face {
    font-family: jtcj;
    src: url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?subset_id=2&fvd=n4&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?subset_id=2&fvd=n4&v=3)
            format("woff"),
        url(https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?subset_id=2&fvd=n4&v=3)
            format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: jtcj;
    src: url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/l?subset_id=2&fvd=n7&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/d?subset_id=2&fvd=n7&v=3)
            format("woff"),
        url(https://use.typekit.net/af/2553b3/000000000000000000011c34/27/a?subset_id=2&fvd=n7&v=3)
            format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: jtcj;
    src: url(https://use.typekit.net/af/2eef30/000000000000000000011c36/27/l?subset_id=2&fvd=n8&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/2eef30/000000000000000000011c36/27/d?subset_id=2&fvd=n8&v=3)
            format("woff"),
        url(https://use.typekit.net/af/2eef30/000000000000000000011c36/27/a?subset_id=2&fvd=n8&v=3)
            format("opentype");
    font-weight: 625;
    font-style: normal;
}
@font-face {
    font-family: vybr;
    src: url(https://use.typekit.net/af/fb816c/00000000000000000001486a/27/l?subset_id=2&fvd=i4&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/fb816c/00000000000000000001486a/27/d?subset_id=2&fvd=i4&v=3)
            format("woff"),
        url(https://use.typekit.net/af/fb816c/00000000000000000001486a/27/a?subset_id=2&fvd=i4&v=3)
            format("opentype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: vybr;
    src: url(https://use.typekit.net/af/32f92a/000000000000000000014869/27/l?subset_id=2&fvd=n4&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/32f92a/000000000000000000014869/27/d?subset_id=2&fvd=n4&v=3)
            format("woff"),
        url(https://use.typekit.net/af/32f92a/000000000000000000014869/27/a?subset_id=2&fvd=n4&v=3)
            format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: vybr;
    src: url(https://use.typekit.net/af/9e56a2/00000000000000000001486d/27/l?subset_id=2&fvd=n7&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/9e56a2/00000000000000000001486d/27/d?subset_id=2&fvd=n7&v=3)
            format("woff"),
        url(https://use.typekit.net/af/9e56a2/00000000000000000001486d/27/a?subset_id=2&fvd=n7&v=3)
            format("opentype");
    font-weight: 700;
    font-style: normal;
} */

@font-face {
    font-family: "Apercu Pro";
    src: url("../fonts/ApercuPro-Bold.eot");
    src: url("../fonts/ApercuPro-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ApercuPro-Bold.woff2") format("woff2"),
        url("../fonts/ApercuPro-Bold.woff") format("woff"),
        url("../fonts/ApercuPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Apercu Pro";
    src: url("../fonts/ApercuPro-Medium.eot");
    src: url("../fonts/ApercuPro-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ApercuPro-Medium.woff2") format("woff2"),
        url("../fonts/ApercuPro-Medium.woff") format("woff"),
        url("../fonts/ApercuPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Apercu Pro";
    src: url("../fonts/ApercuPro-Light.eot");
    src: url("../fonts/ApercuPro-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ApercuPro-Light.woff2") format("woff2"),
        url("../fonts/ApercuPro-Light.woff") format("woff"),
        url("../fonts/ApercuPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Apercu Pro";
    src: url("../fonts/ApercuPro-Regular.eot");
    src: url("../fonts/ApercuPro-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/ApercuPro-Regular.woff2") format("woff2"),
        url("../fonts/ApercuPro-Regular.woff") format("woff"),
        url("../fonts/ApercuPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
