.services_wrapper {
}
.services_wrapper .service_box {
}

@media only screen and (max-width: 575.98px) {
    .services_wrapper .service_box {
        width: 50%;
    }
}
@media only screen and (max-width: 374px) {
    .services_wrapper .service_box {
        width: 100%;
    }
}

/* theme color */

body[class*="dark-mode"] .services_wrapper .service_box a {
    color: var(--colorBlack) !important;
}
